/*My css sheet*/
body { width: auto;    height:auto;
    margin: 10px;
    font: 15px Arial, sans-serif;
    padding: 5px;
    background-color: antiquewhite;
    }
header {
    border: 4px solid rgb(0,0,0);
    margin:auto;
    padding: auto;
    border-radius: 10px
    
    
    
}
.head{
    background: linear-gradient(#ffee00, #88ff00);
}
nav{
    display:flex;
    flex-direction: row;
    border: 4px solid rgb(0,0,0);
    height: 3rem;
    margin: auto;
    padding:auto;
    border-radius: 10px;
}

nav ul li{
    display: inline;
    list-style-type: none;
    padding:auto;
    margin:auto;

}

nav ul li a{
    border: 2px solid rgb(17,87,12);
    background-color: antiquewhite;
    text-decoration: none;
    padding: auto;
    margin:auto;
color: rgb(130, 0, 0);   

}



section{
    
        display:flex;
        flex-direction: row;
        flex:4px;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
}

main{
   flex-direction: column;
  
    flex: 1 2 20%;
}
aside{
    border: solid black 4px;
    max-height: 30rem;
    
    background: url(../images/asidebackground.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    flex: 1 1 10%
    

}
#para1{
    color:black;
}

footer{
   display: flex;
   flex-direction: column;
    border: 4px solid rgb(0,0,0);
    
   margin-top: auto;
    border-radius: 10px;
    clear:both;
    background: linear-gradient(#ffee00, #88ff00);
}
h1{
    color: rgb(17, 87, 12);   
    font-variant:small-caps;
    
   
}

h2{
    color: rgb(46, 87, 12);
    font-variant:small-caps;
}
footer p{
    font-size: 9px;
    color: black;
    float:bottom;
    clear:both;
    
}



  figure{
    float:left;
    shape-outside: circle(58.34% at 114px 150px);
  }
    

section{
    color: rgb(17,87,12);
}
#img1{
    color:black;
    font-weight: bold;
    font-variant:small-caps;
    shape-outside: border-box;
}

#q1{
    color:black;
}
#mainimg{
    border: 4px solid black;
    
}
q{
    font-family: cursive;
    font-style:italic;
    font-size: 16px;

}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: darkred;
}
a:hover{
    color: blue;
}

#galimg{
    
    
    clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
    
}

.grid{
    border: 4px solid antiquewhite;
     display: grid;
    grid-template-columns: .4fr .4fr .4fr;
    grid-template-rows: .4fr .4fr;
    
}






input[type=text], input[type=email], input[type=submit], select, option{
    display: block;
    width: 50%;
    height: 2em;
}

@media all  and (max-width: 800px){
body{
    main{
        font-style: italic;
        
    }
}

}



